<div class="container" *ngIf="formData">
    <mat-card>
      <mat-card-title>{{ formData?.title }}</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="user-type-section">
            <p class="question-text">Select User Type:</p>
            <mat-radio-group
              [formControlName]="'userType'"
              class="vertical-radio-group">
              <mat-radio-button value="ANONYMOUS">Anonymous</mat-radio-button>
              <mat-radio-button value="Email">Email</mat-radio-button>
            </mat-radio-group>
          </div>
  
          <div *ngIf="form.get('userType')?.value === 'Email'">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter your email</mat-label>
              <input matInput formControlName="userEmail" />
            </mat-form-field>
          </div>
  
          <div *ngFor="let question of formData?.questionInfos" class="question">
            <div *ngIf="question.type === 'text'">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ question.text }}</mat-label>
                <input matInput [formControlName]="question.questionId" />
              </mat-form-field>
            </div>
  
            <div *ngIf="question.type === 'radio'" class="radio-group">
              <p class="question-text">{{ question.text }}</p>
              <mat-radio-group
                [formControlName]="question.questionId"
                class="vertical-radio-group">
                <mat-radio-button
                  *ngFor="let answer of question.answerInfos"
                  [value]="answer.answerId">
                  {{ answer.text }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
  
            <div *ngIf="question.type === 'checkbox'" class="checkbox-group">
              <p class="question-text">{{ question.text }}</p>
              <div *ngFor="let answer of question.answers; let i = index">
                <mat-checkbox [formControl]="getCheckboxControl(question.questionId, i)">
                  {{ answer.text }}
                </mat-checkbox>                
              </div>
            </div>
  
            <div *ngIf="question.type === 'dropdown'">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ question.text }}</mat-label>
                <mat-select [formControlName]="question.questionId">
                  <mat-option
                    *ngFor="let answer of question.answers"
                    [value]="answer.answerId">
                    {{ answer.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        
          <div class="form-actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="form.invalid">
              Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>
